<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="shortcut icon" href="<%= bucket %>/images/favicon.png" type="">

  <title> Dronega.ga </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="<%= bucket %>/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="<%= bucket %>/css/drone.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
  <link href="<%= bucket %>/css/hotspot.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="<%= bucket %>/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="<%= bucket %>/css/responsive.css" rel="stylesheet" />

</head>

<body>

    <!-- header section strats -->
    <header style="background-color: black" class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand">
            <span>
              <h3 style="display:inline-block;vertical-align:bottom;"><b>Dronega.ga</b></h3> 
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
                  <li class="nav-item ">
                <a class="nav-link" href="https://dronega.ga">Home </a>
              </li>
				<li class="nav-item">
             <a class="nav-link" href="https://dronega.ga/store">Store</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://dronega.ga/client">Game</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- Game container -->
    <div class="game-bg">

      <div  class="row ">
        <div style="margin: 50px; background-color:rgba(0, 0, 0, 0.65); height:100%; width: 100%; border-radius:20px; color:white" class="col">
          <br>
          <h4 style="text-align: center;">Welcome, you are connected to <b>GKE Cluster</b> at <%= user_region %> Region</h4>

        <br>
			<p style="text-align: center;"><img class="flag" src=<%= flag %> alt=""></p>
			
			<p style="text-align: center;"><a href="https://dronega.ga/client"><button style="border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  cursor: pointer; background-color: #4CAF50;">Game Start</button>
				</a>
			</p>
        <br>
        <br>
  
   
  <br>
  <br>
      
        
        </div> 
  
        </div>

    </div>
		
<!-- about us -->
		
 <section class="about_section layout_padding">
    <div class="container-fluid  ">
      <div class="row">
        <div class="col-md-6 pl-md-0">
          <div class="img-box">
            <img src="<%= bucket %>/images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-5">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                About <span>Us</span>
              </h2>
            </div>
            <p>
              DroneGA will Push All Limits, combining the best of esports and realistic virtual drone racing.

Watch the world’s top drone pilots race high-speed drones in spectacular courses across all dimensions. As our largest season yet, the most skilled, practiced and disciplined pilots will aim to dominate the 14 Levels of racing through iconic sports arenas and DRL SIM virtual maps to be crowned the World Champion.
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>
		



  <!-- end info section -->

  <!-- footer section -->
  <section class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By Dronega.ga
      </p>
    </div>
  </section>
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="<%= bucket %>/js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="<%= bucket %>/js/bootstrap.js"></script>

  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="<%= bucket %>/js/custom.js"></script>

</body>

</html>